[2022-09-28 09:34] arpitbbhayani opened #1 "Make `BGREWRITEAOF` happen through a background thread"

[2022-09-28 10:32] arpitbbhayani opened #2 "Make raw string as `[]byte` instead of `string` for efficiency"
Converting `string` to `[]byte` is not a typecast but a mem copy and rebuilding, hence it becomes expensive.

[2022-10-11 09:47] arpitbbhayani opened #3 "Store `int` value by reference and not serialized in `str`"

[2022-10-12 10:17] arpitbbhayani opened #4 "Add support of lists implemeted using `ziplist`"
- the list can have a cap of entries (configuration) we can put in there
- commands to add, and remove elements from the list given an index

[2022-10-12 10:55] arpitbbhayani opened #5 "Add support for integer sets"

[2022-10-12 10:58] arpitbbhayani opened #6 "Add support for string sets"

[2022-10-12 11:05] arpitbbhayani opened #7 "Add support for GepSpatial queries using Geohash"

[2022-10-12 11:21] arpitbbhayani opened #8 "Introduce string data type and optimize for length computation"

[2022-10-12 11:30] arpitbbhayani opened #9 "Add support for Hyperloglog"

[2022-10-12 11:44] arpitbbhayani opened #10 "Add support for LFU eviction using Approximate Counting"

[2022-10-14 21:00] gods-mack opened #11 "Add support for replicas"
( we can persists data in Disk/SDD). and PUT key-value in replicas parallelly ( by go routine)

[2022-10-14 21:32] gods-mack opened #12 "Machine freezes after hiting GET curl request"
1. I cloned your repo
2. ran `go run main.go`
3. and, just for curiosity, did `curl HTTP://0.0.0.0:7379`
 after that machine freezes ( htop stats showing 80% RAM consumed by `go-build`)

[2022-10-15 08:07] rohanverma94 commented on #12
Redis protocol aka RESP is TCP based. **HTTP/HTTPS has no role to play in this**. ``curl`` allocates the predefined memory for a standard set of protocols and RESP/TCP is not one of them.

``curl HTTP://0.0.0.0:7379`` **is invalid in the first place.**

However high memory usage could come either from DB or curl itself. Try profiling DB with **pprof**,  you might be able to bifurcate the cause of

[2022-10-15 11:05] rohanverma94 commented on #12
I can reproduce the issue, this is due to "Cross Protocol Scripting", redis already have hardened server implementation to block cross-protocol application.  The leaked allocation happens only outside of golang's runtime. And within golang's runtime, there is no leaked memory as shown below -

![image](https://user-images.githubusercontent.com/8470490/195981571-d713e1da-e84f-43ac-adbc-68ede368f42a

[2022-10-15 18:37] arpitbbhayani commented on #1
It is okay to be safe from concurrent writes; because we need not pause execution while triggering persistence.

Thanks for the patch. Please create a PR, will merge.

[2022-10-15 18:44] rohanverma94 commented on #1
Okay. We can discuss it later about a formal AOF implementation. For now, I'll raise a PR.

[2022-10-15 19:05] #1 closed

[2022-10-15 23:10] rohanverma94 commented on #12
@arpitbbhayani I've written a patch to "Disable Cross Protocol Scripting" here https://github.com/rohanverma94/dice/commit/ce29fa5acbba9e02ca6abbc43e82a353c5e7a8d6

Now curl behaves like following
[code]

And server shows the following log-
[code]

Please review.

[2022-10-16 05:43] shubham-chhimpa commented on #12
@gods-mack  I tried locally in docker container (inside a window machine)

```(printf 'CMD1CMD2CMD3';) | nc localhost 7379```

the above command freezes the machine and then the container closes.

```(printf '*1\r\n$4\r\nPING\r\n*3\r\n$3\r\nSET\r\n$1\r\nk\r\n$1\r\nv\r\n*2\r\n$3\r\nGET\r\n$1\r\nk\r\n';) | nc localhost 7379```

This command works fine.

![image](https://user-images.githubusercontent

[2022-10-16 06:03] shubham-chhimpa opened #14 "dockerize project"
**Dockerize** the project so that it will be easier for contributor and user to quickly run the project with **minimal** effort on any machine

[2022-10-16 07:37] rohanverma94 commented on #12
Yes, already confirmed the issue. This patch solves it .

[2022-10-16 07:41] arpitbbhayani opened #16 "need inline documentation on why BGREWRITEAOF forked a process"
**Following functions need better comments**

Here is a list of files along with the lines highlighted that need better comments making it easier to understand what's happening

- https://github.com/DiceDB/dice/blob/master/core/eval.go#L170-L176

**Here's why I think it is difficult to understand the code**

understanding how we are forking, referring to Go doc for that, and the reason for doing i

[2022-10-16 07:46] arpitbbhayani opened #17 "BGREWRITEAOF is not failure safe"
**Describe the bug**
BGREWRITEAOF starts overwriting the existing file; hence in case of a failure, while creating the AOF file, the old flush is lost while the new one is partially updated.

**To Reproduce**

1. add random sleep in BGREWRITEAOF after each command is flushed on the disk
2. crash the process while BGREWRITE is happening
3. see the AOF file content

**Expected behavior**
Until the n

[2022-10-16 07:51] rohanverma94 commented on #17
Yes, this is a major issue when I tested. A most stable policy would be to write the new flushes to a temporary file and then synchronize them with the main thread's AOF file. I'll work on this.

[2022-10-16 08:00] arpitbbhayani opened #18 "use dice unicode "⚄" instead of dice emoji"
**Describe the bug**
We render a Dice emoji when the server starts and not all terminals hold the capability to render an emoji. Hence switch from an emoji to a Unicode "⚄".

**To Reproduce**
1. start the Dice DB server on the 8-bit terminal

**Expected behavior**
The dice emoji should render but it shows a broken Unicode. Hence replace it with ⚄

[2022-10-16 09:10] rohanverma94 commented on #16
Added inline documentation, please review.
https://github.com/DiceDB/dice/compare/master...rohanverma94:dice:stable-tested

[2022-10-16 09:48] arpitbbhayani commented on #17
What if we write to a temporary file and then do a rename?

I think it should be okay if we do not maintain a sync through thread. AOG persistence is anyway just a backup not the primary storage.

Let's evaluate the complexities once.

[2022-10-16 10:26] rohanverma94 commented on #17
Yes, creating a temporary and then renaming is also a good approach. To reduce complexities and to keep the concurrency model simple enough we can delegate the write to ``fsync()``` and ``fdatasync()`` system calls.

Regarding AOF persistence, ``fsync`` is for durability guarantees and is the least costly among other options to implement the same.

Yes, the primary function is in-memory operations

[2022-10-16 10:30] arpitbbhayani opened #19 "Add support for in-memory key/value based ETL"
**Is your feature request related to a problem? Please describe.**
What if I want to find MAX/SUM/%ile of filtered keys/values? Doing this today is a big pain as it requires a massive compute power.

Given that Dice DB is built on Golang and it has super-efficient Goroutines, what it we build capability of doing in-memory ETL through simple Piped Commands?

**Describe the solution you'd like**
Bui

[2022-10-16 12:39] gods-mack commented on #12
Hi @rohanverma94
I tried your version, I ran it via Docker in Mac M1.
still, it's running like Volcano. I think there is something wrong with MM or maybe parallelism (idk)
<img width="366" alt="Screenshot 2022-10-16 at 6 06 22 PM" src="https://user-images.githubusercontent.com/31279522/196035728-71414f4f-caf5-48f6-b818-44082f50f675.png">

[2022-10-16 12:49] rohanverma94 commented on #12
Nope, perfectly working fine for me. May be you're applying the patch the wrong way.
Do this -
[code]
Then usual go build

[2022-10-16 13:12] gods-mack commented on #12
Yeah, Its working fine now,
great

[2022-10-16 13:21] rohanverma94 commented on #12
As @gods-mack validated the fix. @arpitbbhayani can you review it - https://github.com/DiceDB/dice/issues/12#issuecomment-1279848727

[2022-10-16 16:29] arpitbbhayani opened #22 "Add support for KQueue"
**Is your feature request related to a problem? Please describe.**
Dice DB does not run on OSX.

**Describe the solution you'd like**
Dice DB currently does not run on OSX because it does not support EPOLL, hence we need to add support for KQueue and do a conditional build.

[2022-10-16 16:30] arpitbbhayani opened #23 "Add support for IOCP"
**Is your feature request related to a problem? Please describe.**
Dice DB does not run on Windows natively.

**Describe the solution you'd like**
Dice DB currently does not run on Windows because it does not support EPOLL, hence we need to add support for IOCP and do a conditional build.

[2022-10-16 16:36] arpitbbhayani commented on #22
Reference Links: https://dave.cheney.net/2013/10/12/how-to-use-conditional-compilation-with-the-go-build-tool

[2022-10-16 16:50] arpitbbhayani opened #24 "Add support for command `SUMVAL`"
**Is your feature request related to a problem? Please describe.**
There are no KV databases that support values-based aggregations. Doing a summation of integer values in the KV store would help us address a bunch of real-world use-cases

- all expenses dumped as KV, summation will give net balance quickly

**Describe the solution you'd like**
Introduce a command `SUMVAL` that does a summation of

[2022-10-16 17:06] arpitbbhayani opened #25 "Add support for command `FILTERVAL`"
**Is your feature request related to a problem? Please describe.**
We need a way to filter out keys on the basis of some regex pattern in value.

**Describe the solution you'd like**
Create a command `FILTERVAL` that accepts wildcards as an argument and returns the list of KV pairs as a response.

[code]

a JSON equivalent of the response is

[code]

[2022-10-16 17:19] arpitbbhayani opened #26 "Define a charter for the database"
Without a charter, the database will be built in random directions. We need to define a charter that keeps us aligned. Every feature we build should align with the charter.

[2022-10-16 17:26] arpitbbhayani opened #27 "Setup GitHub actions to auto-build Dice for platforms"
We need a way to build Dice DB for all platforms upon creating a new release tag. We can use [GoReleaser](https://github.com/goreleaser) to do this.

[2022-10-16 18:30] golu360 commented on #24
Could we compute the summation at insert/ dumping time of the expenses to ensure that results of this "SUMVAL" is quick to fetch?

[2022-10-17 03:34] Hakai-Shin commented on #27
I would like to work on this task.

[2022-10-17 07:25] rohanverma94 commented on #23
Along with IOCP addition, we have to introduce new system call invocations as defined in https://github.com/golang/go/blob/master/src/runtime/syscall_windows.go

This should happen in a new file - ``eval_windows_amd64.go``

[2022-10-17 07:38] rohanverma94 commented on #22
Same for the darwin platform(macOS), we have to introduce the right syscall invocations as defined here https://github.com/golang/go/blob/e92853523d11d1e50d89a3c017c5d902aed0596a/src/runtime/sys_darwin.go

This should happen in a new file - ``eval_darwin.go``

[2022-10-17 18:20] arpitbbhayani commented on #27
@Hakai-Shin go for it. I have assigned it to you.

[2022-10-17 18:22] arpitbbhayani commented on #24
@golu360 Yes. That would be an enhancement. The reason I was thinking of having a `SUMVAL` command is for in-memory ETL utilities implemented like UNIX-like PIPEs.

[2022-10-17 18:25] arpitbbhayani commented on #12
@rohanverma94 patch looks solid. Can you raise a PR?

[2022-10-17 18:29] #18 closed

[2022-10-17 18:30] souravendra commented on #10
@arpitbbhayani can you please explain this a bit more? I'd like to pick this up as it sounds very interesting and I could possibly learn a lot from it.

[2022-10-17 18:31] #16 closed

[2022-10-17 18:38] arpitbbhayani opened #29 "Add comments in the code above each command telling what it does"
**Following functions need better comments**

- all the commands implemented in `eval.go` file. Write exhaustive documentation suggesting what it does.

**Here's why I think it is difficult to understand the code**

Code may not be very difficult to understand, but adding the documentation will make it easier for the new contributors to get started quickly.

[2022-10-17 18:46] arpitbbhayani opened #31 "Run expiraion in a separete periodic Goroutuine"
**Is your feature request related to a problem? Please describe.**
The expiration runs in the event loop unnecessarily starving the core execution.

**Describe the solution you'd like**
Let there be a goroutine that periodically wakes up and deletes the expired keys. We need to take care of a close-edge case though. What if a key is about to

Naive solution: lock and execute
Con: unnecessarily the

[2022-10-17 19:59] rohanverma94 commented on #12
@arpitbbhayani Fine I'll raise a PR

[2022-10-18 01:28] rohanverma94 commented on #31
**Premise**
I'm not sure about the current storage engine. And owing to that, some enhancement would do O(k²) operation or Θ(n²) in additional space, I agree that we can't get away from baseline complexities. The idea of having ``map[string]*object`` is great for starting out and then gradually evolving the data structure as we realize the cost and premium to be paid for carrying tech debt along t

[2022-10-18 03:36] mrchocha opened #33 "issue: `exDurationSec` code bug in SET command"
**Bug Desc**
In `evalSET` function the following line has an issue. since the command may take multiple arguments in-future and **ex** argument can be in any position.
```exDurationSec, err := strconv.ParseInt(args[3], 10, 64)```

it should be
`exDurationSec, err := strconv.ParseInt(args[i], 10, 64)`

[2022-10-18 05:23] #12 closed

[2022-10-18 05:24] arpitbbhayani commented on #12
Thanks @gods-mack for raising and @rohanverma94 for fixing 🍻

[2022-10-18 05:27] #33 closed

[2022-10-18 05:55] arpitbbhayani opened #35 "Add support for command `FILTERKEYS`"
**Is your feature request related to a problem? Please describe.**
We need a way to filter out keys on the basis of wildcard patterns; so that the KV tuples can be piped through other commands for in-mem aggregations.

**Describe the solution you'd like**
Create a command `FILTERKEYS` that accepts wildcards as an argument and returns the list of KV pairs as a response.

[code]

a JSON equivalent o

[2022-10-18 11:43] golu360 commented on #24
Then similar to summation, could we also similar stuff like "AVGVAL" for average of all integer values?
I'm willing to pick up the SUMVAL piece :D

[2022-10-18 12:04] arpitbbhayani opened #36 "Add support for Bloom Filters"
**Is your feature request related to a problem? Please describe.**
Bloom filters are essential to check for existence, and having support for that is essential for real-world usecases.

**Describe the solution you'd like**
Add commands `BINIT`, `BADD`, and `BEXIST` to initialize, add, and check existence within the bloom filter. `BINIT` can take in arguments around tolerance and initial allocation

[2022-10-18 12:06] golu360 commented on #24
To summarize my solution,

1. Calculate sum of integer values on "SET"
2. Decrement on either "DELETE" or expiration.
3. Retrieve the SUM on "SUMVAL" command.

[2022-10-18 15:26] deeplearningera commented on #2
I didn't understood your question. In title you have written that you want this change for efficiency, but in above comment you have written that it is expensive. If  mem copy and rebuilding operation is expensive, then it will decrease the efficiency right?

[2022-10-18 16:43] alok87 opened #38 "Support to try out in mac / arm64"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
go run main.go works in mac or `make run` with something behind docker like functionality

**Describe alternatives you've considered**
Alternative was buying a linux laptop

**Additional context**
None

## Something like below

### Makefile
[code]
or may be built it for mac and give some ima

[2022-10-18 16:43] sahil1913 commented on #29
@arpitbbhayani I can pickup this task

[2022-10-18 16:57] sahil1913 opened #39 "Pull Request Template"
**Is your feature request related to a problem? Please describe.**
PRs from different devs would be in different format which brings non-uniformity across the project.

**Describe the solution you'd like**
Create a PR template which will help aligning uniformity across PRs and thus for the project as of whole

**Additional context**
Refs: https://docs.github.com/en/communities/using-templates-to-e

[2022-10-18 16:59] arpitbbhayani commented on #29
Go for it. Assigning it to you. Thanks a ton ✨

[2022-10-18 17:01] alok87 opened #40 "EC2/aws cant run"
**Describe the bug**
cant run in a linux ec2

**To Reproduce**
launch an ubuntu ec2
clone
go run main.go

fails

**Expected behavior**
Not able to start in ec2 linux

**Additional context**

[code]
<img width="311" alt="Screenshot 2022-10-18 at 10 26 01 PM" src="https://user-images.githubusercontent.com/9006763/196496023-a626ea4b-0102-4b41-8c44-89f6fcd3e0bf.png">

[2022-10-18 18:41] rohanverma94 commented on #40
@alok87 Can you try this in <source_root> ?

[code]

[2022-10-19 05:25] rak3n commented on #36
interested to take a crack at this. and have a few queries here.

- curious to understand what hash functions are we thinking to use since it needs to be uniformly distributed and independent, would murmur be a gtg choice for the current use case?
- what does seamless resize infer, is it related to extending and decreasing the bloom filter size dynamically post `BINIT`?

[2022-10-19 06:43] MayukhSobo commented on #35
Hi @arpitbbhayani. Can I take this up? This would be my first encounter with DiceDB

[2022-10-19 10:54] arpitbbhayani commented on #35
@MayukhSobo go for it. Assigning it to you.

[2022-10-19 16:33] rohanverma94 opened #43 "Complexity with GC, mutex & storage engine layout"
**Is your feature request related to a problem? Please describe.**
Atomics and Mutexes are common solutions for locking. Behind the scenes, they are tuned for exclusive access and not for quick turn-around.

A common remedy to his problem is lock-free programming but not everything can be turned into a lock-free construct. Turnaround time should be minimal if the primary use case is a key-value st

[2022-10-19 16:46] rohanverma94 commented on #23
Just got access to a windows server 2022, so I'll take this issue.

[2022-10-19 17:21] golu360 commented on #24
@arpitbbhayani  I would like to work on this! :D

[2022-10-19 17:43] #22 closed

[2022-10-19 17:52] arpitbbhayani commented on #38
`go run main.go` will now run on Mac :) #41

[2022-10-19 17:52] #38 closed

[2022-10-19 17:54] arpitbbhayani commented on #24
@golu360 Let's do it on runtime; instead of keeping it pre-computed. Also, check for the encoding because not all values will be integers. The reason we are doing this is to support runtime piped operations in the future.

If you are okay with this let me know, I will assign it to you.

[2022-10-19 17:54] arpitbbhayani commented on #23
Great. Go for it @rohanverma94

[2022-10-19 17:55] arpitbbhayani commented on #25
Go for it @zeina1i

[2022-10-19 17:56] arpitbbhayani commented on #36
Hey @rak3n I am looking into this at the moment and have started working on this. There are still some ambiguities in the implementation and hence I am going through other open source Bloom implementations to converge.

[2022-10-19 18:02] golu360 commented on #24
@arpitbbhayani  sounds simple.

To store the sumval's output, should we create a new Map? And yes, since this is integer only, type checking will always be done.

[2022-10-19 18:02] golu360 commented on #24
@arpitbbhayani  Sounds even simpler then. Will do it on run-time.

[2022-10-19 18:26] rohanverma94 commented on #43
@arpitbbhayani If you'll approve of the changes proposed, I would start preparing design documents for new data structure.

[2022-10-20 02:52] arpitbbhayani commented on #43
I really think keeping Dice DB single-threaded for evaluation engine will be a better choice.

LFU can be approximated, we don't need brute correctness. Approximation can be easily handled while being single threaded.

My idea of Dice DB is to

- keep it single threaded for core evaluation
- multi-threaded for single command execution so as to utilise all the cores (in-mem ETL and data processing

[2022-10-20 03:44] rohanverma94 commented on #43
What about the storage engine?

[2022-10-20 05:34] arpitbbhayani commented on #43
Right now I was thinking of keeping it in-memory + periodic backups. Multi-threading will help when we go for disk storage (given the slowness of disk IO). We can decide to make them persistent later.

[2022-10-20 05:47] rohanverma94 commented on #43
Okay, so I'll hold my design for now. Btw a lot of changes are coming in windows version. I just implemented a entire POSIX system call for windows and it was a headache. Fsync implementation for windows would be a lot harder...

![image](https://user-images.githubusercontent.com/8470490/196865685-23b77aaf-bb91-4d22-97e8-8b7fc5fe115b.png)

[2022-10-20 07:13] arpitbbhayani commented on #43
@rohanverma94 thanks a ton :) looking forward to it!

[2022-10-20 10:58] heysujal commented on #2
@arpitbbhayani  where do we have to make changes ?

[2022-10-20 11:15] arpitbbhayani commented on #2
@deeplearningera "Converting string to []byte is not a typecast" implies while processing when we do this, it will be expensive. Hence we should not have `string` at all and instead just `[]byte`.

@heysujal would recommend you go through the code and find a place where we are using RAW encoding.

[2022-10-20 12:15] heysujal commented on #2
https://github.com/DiceDB/dice/blob/c9ac91786788b709b65440e488545099861bc408/core/type_string.go#L7
found this. I am not familiar with Golang and also to redis.
So, only changing  `v string` to `[]byte(v)` would do the job ?

[2022-10-20 12:21] amandesai01 opened #47 "Dockerfile for this project"
**Is your feature request related to a problem? Please describe.**
This is a relatively new project and I guess it would be nice if we can make it easier for people to play-around. Docker image will let people do that.

**Describe the solution you'd like**
Creating a Dockerfile with linux image as base.

I would love to take this up, won't be a huge task.

[2022-10-20 12:51] golu360 commented on #24
@arpitbbhayani  do we also need to submit a design doc for this?

[2022-10-20 13:23] himanishm07 commented on #19
@arpitbbhayani Would like to pick up this feature.
Are you chasing any timeline for this feature? As I am new to DiceDB and GoLang, might take a little longer.

[2022-10-20 14:04] arpitbbhayani commented on #19
@himanishm07 the scope of this is still blurr. I have added it so that I don't miss it.

[2022-10-20 14:40] himanishm07 commented on #6
@arpitbbhayani Any detail on this? Is the requirement to support String sets in Values?

[2022-10-20 16:15] jnana-cetana commented on #43
Wow! So much to learn. Looking forward.

[2022-10-21 05:24] manav2401 commented on #36
Hi, just stumbled upon this. I'd also interested in contributing to this issue if possible. Just wanted to share a reference implementation which go-ethereum uses. Majority of code lies [here](https://github.com/maticnetwork/bor/tree/develop/core/bloombits). Happy to help with any benchmarks if required :)

[2022-10-21 05:40] Hakai-Shin opened #48 "Communication medium like slack/discord"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Is there any medium for communication like slack or discord?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of

[2022-10-21 05:42] gunishmatta commented on #3
@arpitbbhayani  I would like to work on this

[2022-10-21 09:55] rohanverma94 commented on #40
Running fine for me on aws-linux as well as ubuntu.
![export](https://user-images.githubusercontent.com/8470490/197168472-0ca3597d-0384-41da-bc17-3c4b711f34a1.png)

[2022-10-21 10:09] #40 closed

[2022-10-21 16:07] manosriram commented on #35
@MayukhSobo are you still actively working this issue? If not, I want to pick this up; looks like an interesting add.

[2022-10-21 16:08] manosriram commented on #25
@zeina1i are you still actively working this issue? if not, i want to pick this up; looks interesting.

[2022-10-21 16:34] santhosh-chinnasamy commented on #47
@amandesai01
- duplicate of #14
- a PR is already there #15 maybe you can test/review it.

[2022-10-21 21:21] zeina1i commented on #25
Hey @manosriram . Actually I am working on this.

[2022-10-22 04:31] arpitbbhayani commented on #48
![101-stars](https://user-images.githubusercontent.com/4745789/197318990-e8616341-afa9-4fd4-adb9-dec51fc436ac.PNG)

[2022-10-22 11:46] rohanverma94 commented on #23
Turns out that IOCP behaves in contrast to Kqueue or Epoll. While Epoll waits for file descriptor to be available then sends the message buffer, IO completion ports works in a bottom up approach by sending the buffer to file handles and then waits till who finishes first, then assigning the next worker thread to that handle.

File Descriptor approach needs to be scraped for Windows. And a major pa

[2022-10-23 12:13] Mystigan commented on #39
I would like to take this up.

[2022-10-24 05:10] paresh-bhave commented on #4
@arpitbbhayani I've been looking to contribute to open-source for a while and this project seem like a perfect place to start. I would like to contribute to this issue but also, I would like to understand little bit of a background on this. I've been following you on LinkedIn and familiar with DiceDB project goal but my familiarity with Redis is at the beginner level and pretty much theoretical. I

[2022-10-25 06:08] arpitbbhayani commented on #48
Thanks for the suggestion, created the Discord servers for contributors for quick collaboration: https://discord.gg/6r8uXWtXh7

[2022-10-25 06:08] #48 closed

[2022-10-25 06:15] arpitbbhayani opened #51 "Support ingestion and processing of large inputs"
**Is your feature request related to a problem? Please describe.**
Currently, the buffer we use to take input can hold only 512 bytes. This prevents us from firing query that is longer than that. This is also the limitation while reading the response on the client side.

**Describe the solution you'd like**
Re-write the socket code to support large input bytes sent from the client and encode them

[2022-10-25 06:19] arpitbbhayani commented on #36
@manav2401 Thanks for sharing the reference, but we cannot just take this code (though open source). Also, there is a need to draft a solid specification around this.

Can you prepare a quick document on what you envision from a bloom filter and the feature? We will see what fits into the scheme and then work on the implementation.

[2022-10-25 06:21] arpitbbhayani commented on #35
@MayukhSobo where are you with the implementation? are you stuck somewhere? You can join the [Discord Server](https://discord.gg/6r8uXWtXh7) for quick collaboration.

[2022-10-25 06:21] arpitbbhayani commented on #29
@sahil1913  where are you with the implementation? are you stuck somewhere? You can join the [Discord Server](https://discord.gg/6r8uXWtXh7) for quick collaboration.

[2022-10-25 06:21] arpitbbhayani commented on #27
@Hakai-Shin  where are you with the implementation? are you stuck somewhere? You can join the [Discord Server](https://discord.gg/6r8uXWtXh7) for quick collaboration.

[2022-10-25 06:22] arpitbbhayani commented on #25
Thanks a ton @zeina1i . Let me know if you are stuck somewhere. You can join the [Discord Server](https://discord.gg/6r8uXWtXh7) for quick collaboration.

[2022-10-25 06:45] Hakai-Shin commented on #27
Hi @arpitbbhayani , I have got some hands-on with goreleaser tool, currently I am working with goreleaser for github actions. I will be closing this issue soon.

[2022-10-25 11:43] arpitbbhayani opened #54 "Adding support for command `SHUTDOWN`"
**Is your feature request related to a problem? Please describe.**
There is no way for a client to initiate a shutdown of the server. We need this to shut down the server gracefully after running tests.

**Describe the solution you'd like**
We need a command `SHUTDOWN` that shuts down the server, gracefully.

[2022-10-25 16:12] sahil1913 opened #55 "Wrong/Un-implemented commands returns "PONG""
**Describe the bug**
Wrong/un-implemented commands when fired returns "PONG".
This can create confusion on the behaviour altogether

**To Reproduce**
1. run some
2. enter gibberish as a command

**Expected behavior**
Return a correct response stating either command not implemented or wrong command fired.

@arpitbbhayani to share the correct response format.

[2022-10-25 16:13] sahil1913 commented on #55
@arpitbbhayani please add response format/string..
I'll work on this issue, should be a quick fix

[2022-10-25 18:02] arpitbbhayani opened #57 "Add a test suite that can test commands on a temp server"
**Is your feature request related to a problem? Please describe.**
Unit tests are fine but we need to fire the command and test the changes.

**Describe the solution you'd like**
Provision a test suite that allows unit testing and an ability to test commands over a temporary Dice server

[2022-10-25 18:56] asutosh97 opened #58 "DiceDB doesn't build on linux/arm64"
**Describe the bug**
DiceDB doesn't build on `linux/arm64`. It gives the following error:

[code]

As mentioned, it is because of the use of `syscall.SYS_FORK` in `eval.go`

[code]

**To Reproduce**
Run `go build` on a `linux/arm64` machine

**Expected behavior**
The build should happen successfully without any error messages and generate a binary

**Additional context**
Upon simply googling about

[2022-10-25 19:11] rohanverma94 commented on #58
Actually, the problem is not related to FORK but it is POSIX. When I wrote this, I was clear that FORK is not portable across platforms, on POSIX systems maybe. On windows port of dice for example, I've to implement CoW pages using kernel API to mimic FORK call. I can write a FIX for arm64 if it is the target you want, that is very straight forward.

The issue with lot of syscalls like fork, pipe

[2022-10-26 14:25] arpitbbhayani opened #60 "Efficient deep comparisor of complex types for test suite"
**Is your feature request related to a problem? Please describe.**
RESP encoding and decoding need to be tested with complex types and there is no one good way to equate two objects. WE need a way to go it.

**Describe the solution you'd like**
`go-cmp` library can be used as a reference.

[2022-10-26 14:33] arpitbbhayani opened #61 "Need standardized errors"
We need a way to standardize the errors

- the language
- format
- conventions
- global declarations
- error codes

https://github.com/uber-go/guide/blob/master/style.md#errors

[2022-10-26 15:18] arpitbbhayani commented on #35
@MayukhSobo sure. No worries take your time 🙌

[2022-10-26 15:30] arpitbbhayani commented on #35
@MayukhSobo that is totally fine. Folks would not automatically merge.

[2022-10-26 17:25] Hakai-Shin opened #62 "Benchmarking utility"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

This might be too early, but I am curious on how software benchmarking is handled. I got to know redis has a redis-benchmark utility. Can we have benchmarking utility for dice as well. This feature might not be urgent but I am curious to l

[2022-10-27 03:24] rohanverma94 opened #63 "Reinforce RESP handler"
**Describe the bug**
RESP handler often breaks, need to fix it.

**To Reproduce**
Steps to reproduce the behavior:
DO THIS-
[code]

**Expected behavior**
This should log "Possible security attack" on the server side and disconnect the client issuing the command.

**Additional context**
Try Fuzzers to break the current RESP implementation to explore more steps to reproduce the larger issue with RES

[2022-10-27 12:23] arpitbbhayani commented on #27
#59

[2022-10-27 12:23] #27 closed

[2022-10-27 17:01] chowmean commented on #54
Hi @arpitbbhayani , can you please elaborate more on what you have in mind?
Personally, I don't think the client should be able to do a shutdown the server. These functionalities are generally available with the sysadmin and are done at the Linux service level.

[2022-10-27 17:13] arpitbbhayani commented on #54
I agree. But we are adding this to facilitate tests. The commend will be disabled in production setup.

[2022-10-27 17:14] arpitbbhayani commented on #54
I recommend you to wait for my big PR to merge, I think this might just become redundant. Let me get my PR merged and we will be in a position to decide if we really need SHUTDOWN or not. Should be able to converge in next couple of days.

[2022-10-28 23:26] hamdaankhalid opened #64 "Redundant conditional in evalGET"
**Describe the bug**
Not a bug but more of something that caught my eye when reading the codebase. It's my first time looking at or attempting anything open source. Lmk if this is the wrong category to file this. I wanted to open this issue so I could make a corresponding PR and fix this.

Package: core
File: eval.go
Method: evalGET

Get(key) will delete any expired key already, so the conditional

[2022-10-29 08:39] Prady2006 commented on #35
Hey @MayukhSobo are you still working on the feature , or can i start working on this feature @arpitbbhayani  ?

[2022-10-29 09:10] samarthjuneja24 commented on #3
Hey @arpitbbhayani , can you please assign this issue to me

[2022-10-29 09:10] arpitbbhayani commented on #3
Done. @samarthjuneja24

[2022-10-29 14:39] manosriram commented on #61
are you working on this? if not, i would like to pick this up. @arpitbbhayani

[2022-10-29 15:07] arpitbbhayani commented on #61
@manosriram no one is working on this. You can pick this up. Would recommend you prepare a small draft and your idea and post it on this issue.

We all would converge on the approach.

[2022-10-29 19:14] manosriram commented on #61
thanks @arpitbbhayani, will share the draft.

[2022-10-29 20:56] rohanverma94 opened #67 "Support for DEBUG POPULATE & INFO command"
**Is your feature request related to a problem? Please describe.**

Since DiceDB is not TELNET compatible, in order to send the command, one has to serialize the commands as per RESP spec and then send it over the wire. Thus, sending the commands for mass insertion or deletion becomes a high labor task for a mere performance or diagnostics test. A workaround is to use any redis-compatible language

[2022-10-30 15:22] #29 closed

[2022-10-30 18:27] #51 closed

[2022-10-30 18:36] asutosh97 commented on #2
Came across an interesting blog on this topic: https://syslog.ravelin.com/byte-vs-string-in-go-d645b67ca7ff
Anyone working on this can refer this to get an insight as to why its a memory allocation and not just simple type-casting

[2022-10-31 04:57] rohanverma94 commented on #43
@arpitbbhayani In spite of automatic GC here
[code]
My INFO command is showing
[code]
Because of
[code]
This is wrong because I never used 680 keys in the first place. Some weird GC issues in play here! This is owing to ioredis testing

[2022-10-31 05:51] MayukhSobo commented on #35
@Prady2006 I am working on this. Will make a PR today.

[2022-10-31 14:23] arpitbbhayani opened #68 "Add support for `QUEUEINT`"
To power Milestone 1: Pokemon Premier League #46, we need to support the queue data structure. We start with an integer queue that needs to have very optimal on space and time. Also, add tests to ensure the correctness of the system.

Commands Specification: https://github.com/DiceDB/dice/wiki/Queue-of-Integers

[2022-10-31 14:28] arpitbbhayani opened #69 "Tests for command `SET`"
Currently, there are almost no unit tests for the `SET` command. We need a comprehensive test suite for this command that also checks the correctness and completeness.

1. covers the correctness of single command
2. covers the correctness when multiple commands are fired
3. no commands are dropped abruptly
4. ensure we check for small, large, and massive inputs (if applicable)

[2022-10-31 14:29] arpitbbhayani opened #70 "Tests for command `PING`"
Currently, there are almost no unit tests for the `PING` command. We need a comprehensive test suite for this command that also checks the correctness and completeness.

1. covers the correctness of single command
2. covers the correctness when multiple commands are fired
3. no commands are dropped abruptly
4. ensure we check for small, large, and massive inputs (if applicable)

[2022-10-31 14:29] arpitbbhayani opened #71 "Tests for command `GET`"
Currently, there are almost no unit tests for the `GET` command. We need a comprehensive test suite for this command that also checks the correctness and completeness.

1. covers the correctness of single command
2. covers the correctness when multiple commands are fired
3. no commands are dropped abruptly
4. ensure we check for small, large, and massive inputs (if applicable)

[2022-10-31 14:30] arpitbbhayani opened #72 "Tests for command `TTL`"
Currently, there are almost no unit tests for the `TTL` command. We need a comprehensive test suite for this command that also checks the correctness and completeness.

1. covers the correctness of single command
2. covers the correctness when multiple commands are fired
3. no commands are dropped abruptly
4. ensure we check for small, large, and massive inputs (if applicable)

[2022-10-31 14:30] arpitbbhayani opened #73 "Tests for command `DEL`"
Currently, there are almost no unit tests for the `DEL` command. We need a comprehensive test suite for this command that also checks the correctness and completeness.

1. covers the correctness of single command
2. covers the correctness when multiple commands are fired
3. no commands are dropped abruptly
4. ensure we check for small, large, and massive inputs (if applicable)

[2022-10-31 14:30] arpitbbhayani opened #74 "Tests for command `EXPIRE`"
Currently, there are almost no unit tests for the `EXPIRE` command. We need a comprehensive test suite for this command that also checks the correctness and completeness.

1. covers the correctness of single command
2. covers the correctness when multiple commands are fired
3. no commands are dropped abruptly
4. ensure we check for small, large, and massive inputs (if applicable)

[2022-10-31 14:31] arpitbbhayani opened #75 "Tests for command `INCR`"
Currently, there are almost no unit tests for the `INCR` command. We need a comprehensive test suite for this command that also checks the correctness and completeness.

1. covers the correctness of single command
2. covers the correctness when multiple commands are fired
3. no commands are dropped abruptly
4. ensure we check for small, large, and massive inputs (if applicable)

[2022-10-31 14:31] arpitbbhayani opened #76 "Tests for command `BGREWRITEAOF`"
Currently, there are almost no unit tests for the `BGREWRITEAOF` command. We need a comprehensive test suite for this command that also checks the correctness and completeness.

1. covers the correctness of single command
2. covers the correctness when multiple commands are fired
3. no commands are dropped abruptly
4. ensure we check for small, large, and massive inputs (if applicable)

[2022-10-31 14:32] arpitbbhayani opened #77 "Tests for command `MULTI`"
Currently, there are almost no unit tests for the `MULTI` command. We need a comprehensive test suite for this command that also checks the correctness and completeness.

1. covers the correctness of single command
2. covers the correctness when multiple commands are fired
3. no commands are dropped abruptly
4. ensure we check for small, large, and massive inputs (if applicable)

[2022-10-31 14:32] arpitbbhayani opened #78 "TEsts for command `EXEC`"
Currently, there are almost no unit tests for the `EXEC` command. We need a comprehensive test suite for this command that also checks the correctness and completeness.

1. covers the correctness of single command
2. covers the correctness when multiple commands are fired
3. no commands are dropped abruptly
4. ensure we check for small, large, and massive inputs (if applicable)

[2022-10-31 14:32] arpitbbhayani opened #79 "Tests for comamnd `DISCARD`"
Currently, there are almost no unit tests for the `DISCARD` command. We need a comprehensive test suite for this command that also checks the correctness and completeness.

1. covers the correctness of single command
2. covers the correctness when multiple commands are fired
3. no commands are dropped abruptly
4. ensure we check for small, large, and massive inputs (if applicable)

[2022-10-31 14:33] arpitbbhayani opened #80 "Tests for LRU"
Test the correctness of LRU implementation and write exhaustive test cases that cover the entire spectrum.

[2022-11-01 07:12] rohanverma94 commented on #58
I'll issue a fix for arm64 (m1 compatible) and the entire AOF stub will be upgraded to a stable implementation tomorrow.

[2022-11-01 12:51] arpitbbhayani opened #81 "Define a space efficient encoding for unsigned integer"
We need a way to define a space-efficient encoding for unsigned integers so that

1. we are utilizing memory efficiently
2. will become critical in implementing int-based lists, queues, and other data structures
3. will be easier for us to serialize and dump it on a disk

[2022-11-01 13:38] sahil1913 commented on #69
@arpitbbhayani for `SET` command the tests are in `set_test.go`.
Are more tests required for it?

[2022-11-01 13:41] arpitbbhayani commented on #69
Yes. Correctness is yet to be tested. Long input, different data types, and bulk commands.

[2022-11-01 16:03] sahil1913 commented on #69
Okay cool. I can work on this issue. Will add more tests in the same file.
Please assign the issue.

[2022-11-01 17:30] golu360 commented on #24
@arpitbbhayani  is this issue still open?

[2022-11-01 17:36] arpitbbhayani commented on #24
Yes. Are you interested in picking this up?

[2022-11-01 17:36] golu360 commented on #24
Yup. Up to pick it! @arpitbbhayani

[2022-11-01 17:46] arpitbbhayani commented on #24
Assigned it to you. Thanks for picking it up.

[2022-11-01 18:27] golu360 commented on #24
@arpitbbhayani  are we only expecting integers or are we also expecting floats here?

[2022-11-01 18:30] arpitbbhayani commented on #24
Depends on the encoding. Right now we do not support float.

Go through the code and use types and encodings we explicitly maintain. Please understand the flow before you code.

[2022-11-02 12:55] manav2401 commented on #36
@arpitbbhayani sorry was away last week so couldn't respond.

Sure, let gather some more context on the same and prepare a document.

[2022-11-02 16:09] arpitbbhayani commented on #36
@manav2401 this is great. Are you available at 11pm tonight? We can hop on a call and close this.

Discord is where we meet. Just drop me a message.

If the time does not work, drop me a few suitable time and we can sync then.

[2022-11-02 16:23] manav2401 commented on #36
@arpitbbhayani 11 pm tonight (IST) works for me. Dropped a message on twitter.

[2022-11-03 05:19] #81 closed

[2022-11-03 13:27] javashish commented on #71
@arpitbbhayani  I can work on this issue

[2022-11-03 13:42] arpitbbhayani commented on #71
@ashishbadari yes. you can pick this up. please join the Discord server for better sync. Link in the README.

[2022-11-03 17:40] arpitbbhayani opened #85 "Find a space-efficient way to store negative integers"
We implemented `varint` in `xencoding`, but it only supports unsigned integers. We need a way to support negative integers as well. The only concern is that it needs to be space efficient.

[2022-11-03 17:40] arpitbbhayani opened #86 "Space efficient `QUEUEINT` implementation"
We need core Queue functionality that does O(1) insert, remove, and length operations. Instead of naively storing the integers, store the varints. Also, we should be able to grow the queue to any length.

More details: https://github.com/DiceDB/dice/wiki/QUEUEINT

[2022-11-03 19:03] arpitbbhayani opened #87 "Dereference items allowing it to be GCed"

[2022-11-05 12:17] himanishm07 commented on #80
@arpitbbhayani Is it already assigned? Would like to pick it up.

[2022-11-05 12:21] arpitbbhayani commented on #80
Go for it. Assigning it to you. Thanks a ton.

[2022-11-05 13:30] HarinRamesh commented on #70
Hi, I will take up this issue.

[2022-11-06 14:19] HarinRamesh commented on #70
Hi, I am getting a connection refused error while running test case, seems like PING commands are properly working.

<img width="847" alt="Screenshot 2022-11-06 at 7 45 47 PM" src="https://user-images.githubusercontent.com/32133974/200175975-fd037cec-b526-4798-aa79-950d273f3492.png">

Below is my code for the test.
@arpitbbhayani @rohanverma94

	var wg sync.WaitGroup
	go runTestServer(&wg)

	var b

[2022-11-06 15:15] rohanverma94 commented on #70
Can you share the complete code ? Example seems unclear

[2022-11-06 18:49] rohanverma94 commented on #70
@HarinRamesh
Try something like this
[code]
it will allow the client connection to do a warmup before accepting actual bytes.

[2022-11-07 12:34] arpitbbhayani opened #89 "Add support for QREF"
QREF are Reference Queues that hold the references to other KV pairs.

While removing from the queue, we get the dereferenced entity (instead of just the key) and hence can be leveraged to make dereferenced get faster and better.

**at this stage we diverge from Redis, but for the better.

https://dicedb.arpitbhayani.me/qref

[2022-11-07 14:32] arpitbbhayani commented on #89
Details: https://dicedb.arpitbhayani.me/qref

[2022-11-09 13:32] keshavchand opened #90 "DiceDB doesn't create AOF file with required permission"
**Describe the bug**
dice-master.aof file created by DiceDB doesn't seem to have the required permission, if the file doesn't already exists. It therefore can't write to the file in its next run.
[code]
 In case file already exists (`touch dice-master.aof`) it doesn't change permissions.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure dice-master.aof file doesn't exists
2. Run `go

[2022-11-09 13:38] arpitbbhayani commented on #90
@keshavchand do you want to take this up? I can right away assign.

[2022-11-09 14:37] rohanverma94 commented on #90
AOF implementation wrap-up for pending TODOs, coming in a while!

[2022-11-10 19:22] pranjal-verma opened #95 "Unhandled "Port Address already in use""
**Describe the bug**
When running dice on a port that is already occupied by another process, dice simply exits without any error message or exit status.

**To Reproduce**
Steps to reproduce the behavior:
1. Run dice on a port that is already in use.
![Screenshot from 2022-11-11 00-40-23(1)](https://user-images.githubusercontent.com/42290488/201186729-c4138fa1-cf3c-4840-9490-9d4e6005530e.jpg)

**E

[2022-11-10 20:58] ameyajoshi35 commented on #95
@arpitbbhayani can I try this one to start with. looks like a simple log change.

[2022-11-11 02:35] arpitbbhayani commented on #95
Go for it @ameyajoshi35

[2022-11-11 05:29] rohanverma94 commented on #95
@arpitbbhayani @ameyajoshi35 it would be good if there would be a **free port finder module** which can be developed as a pluggable solution.

For instance, in development mode we can enable this module as there would be many instances where we would stop and restart the DB and but in production mode we can disable it.

[2022-11-11 05:31] arpitbbhayani commented on #95
@rohanverma94 let's have a set of ports that we check if none of them are free we panic. Otherwise that port is assigned. Whatvsay?

[2022-11-11 05:38] rohanverma94 commented on #95
@arpitbbhayani yes this works, a must read regarding the problem - https://onlinehelp.opswat.com/centralmgmt/What_you_need_to_do_if_you_see_too_many_TIME_WAIT_sockets.html

[2022-11-11 05:39] FuncGuy commented on #75
@arpitbbhayani  I would like to contribute for this feature

[2022-11-11 16:47] ameyajoshi35 commented on #95
@arpitbbhayani @rohanverma94
can you take a look at https://github.com/DiceDB/dice/pull/98
I was looking for a free port finder, we can add that as well but it picks up a random port. may be we can filter that as well.
But as arpit suggested to keep it simple, I have added just a couple of ports and if in case unavailable in debug mode, code will try to start up on set of ports.

[2022-11-11 16:52] rohanverma94 commented on #95
@ameyajoshi35 Well as @arpitbbhayani suggested you can further narrow down the search for free ports, you don't have to search on an infinite range. It would be more like doing a sequential port scan on a fixed range.

[2022-11-14 16:16] rawris commented on #73
I can pick this up @arpitbbhayani

[2022-11-20 15:40] #89 closed

[2022-11-26 02:39] arpitbbhayani opened #102 "Add support for `STACKREF`"
Similar to `QREF`, let's implement `STACKREF` having commands to

- push `STACKREFPUSH`,
- pop `STACKREFPOP`,
- peek `STACKREFPEEK`, and
- length `STACKREFLEN`

Similar to`QREF`, `STACKREF` will also be based on the ByteList and will hold references to other keys in the store.

[2022-11-26 13:12] JyotinderSingh commented on #102
Hi, I will like to take this up.